header{
    position: fixed; 
    width: 100%;    
    z-index: 3;
}
main{
    padding-top: 10%;
    background-image: url("../imagenes/imagenprincipal.png");
}
  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar .nav-item {
    padding: 10px 20px;
  }
  .navbar .nav-link {
    font-size: 20px !important;
    margin-left: 10px;
    color: #0a0a0a !important;
  }
  .fa-bars {
    color: #0a0a0a;
    font-size: 18px;
  }
.nav-tabs {
    border-bottom: 1px solid #f10437;
}
.youMay{
    text-align: center;
}

#FreshStripeSweater{
    color:blanchedalmond;
}
#card{
    animation: rotate 4s ease infinite;
    transform-style: preserve-3d;
   
}
   
@for $card from 1 through 13 {
    #card:nth-child(#{$card}) {
		animation-delay: 0.4s * $card
	}
}


@keyframes rotate {
  50%, to {
		transform: rotateY(360deg);
	}
}



#imgf{
    width: 45px;
    height: 45px;
}

#imagt{
    width: 100px;
    height: 55px;
}


/*  Formulario  icono de usuario*/

.mainUser{
  background-image: url("../imagenes/imagenprincipal.png");
  margin: 3rem 0;
  background-size: cover;
  padding: 4rem;
}
.formUser{
  margin: 2rem 0;
  max-width: 50%;
  margin: 0 25%;
  border-radius: 15px ;
  background-color: whitesmoke;
  opacity: 0.9;
}
.divUser{
  padding: 5% 15%;
  text-align: center;
  font-size: 120%;
  font-family: cursive;
}
/* .h3User{
  margin: 4.5% 5%;
} */
.labelUser{
     width: 80%;
}
.inputUser{
  width: 80%;
  height: 35px;
  border: solid 5px orangered;
  border-radius: 15px;
  margin: 2.5% 5%;
  font-size: 100%;
  font-family: cursive;
}
.btnUser{
  background-color: orangered;
  margin: 3%;
  padding: 2.5%;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 100%;
}

